.hero-body {
     background-image: url(./assets/Rck\ background\ effect\ sample\ 780\ x\ 60.png);
     background-size: cover;
    }

.navbar-item {
    font-size: medium;
    font-weight: bold;
}
.content {
    font-size: x-large; 
}
.topRightGroup {
    float: left;
    padding-right: 300px;
}
.card{
    background-color: rgb(201, 237, 248);
}
.card-footer-item {
    font: bolder;
    color: rgb(236, 19, 92);
}
